.chat-main__group-info
  .chat-main__group-info__name
    test
    .chat-main__group-info__name__member
      member:name
  .chat-main__group-info__edit
    = link_to "#",class: "under-line" do
      .chat-main__group-info__edit__btn
        Edit
.chat-main__message-list
  .chat-main__message-list__name
    masa
    .chat-main__message-list__messages
      おはよう
  .chat-main__message-list__name_date
    2019/11/20(Wed)17:43:01
.chat-main__message-form
  .chat-main__message-form__imput-form
    .chat-main__message-form__imput-form__message
      %input{type: "text",class: "text-form",placeholder: "type a message", id: "text-content"}
    .chat-main__message-form__imput-form__photo
      %label{class: "input-box__image"}
        = icon('fas', 'image')
        %input{type: "file",class:"none"}
  .chat-main__message-form__send
    = link_to "#",class: "send-line" do
      .chat-main__message-form__send__btn
        send
