* {
  box-sizing: border-box;
}
.side-bar__group-list{
  color:white;
  background-color: #253141;
  width:300px;
  height:calc(100vh - 100px);
  text-align: center;
  float:left;
  margin-top:100px;
  &__n{
    height:91px;
    margin-left:20px;
    margin-right:20px;
    text-align:left;
    &__group-name{
      font-size:15px;
      margin-top:20px;
    }
    &__group-message{
      font-size:11px;
      margin-top:5px;
      margin-bottom:40px;
    }
  }
}

.side-bar__user-name{
  background-color:#2f3e51;
  height:100px;
  width:300px;
  position:fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 20px;
  color:white;
  &__top-items{
    background-color:#2f3e51;
    height:20px;
    width:260px;
    display:flex;
    justify-content:space-between;
    margin-left:20px;
    margin-right:20px;
    &__name{
      text-align:left;
    }
    &__icons{
      width:60px;
    }
  }
}

.icons__btn{
  color:white;
  display:inline-block;
  margin-right:5px;
}

.chat-main__group-info{
  height:100px;
  width:calc(100vw - 300px);
  background-color:#ffffff;
  float:right;
  display: flex;
  justify-content: space-between;
  &__name{
    font-size:20px;
    color:#333333;
    padding-left:40px;
    padding-top:35px;
    &__member{
      font-size:12px;
      color:#999999;
      padding-top:15px;
    }
  }
  &__edit{
    display: flex;
    align-items: center;
    justify-content: center;
    &__btn{
      padding:0 20px;
      height:40px;
      margin-right:40px;
      line-height:40px;
      border: solid 1px #38aef0;
      font-size:16px;
      color:#38aef0;
    }
  }
}

.under-line{
  text-decoration:none;
}

.chat-main__message-list{
  float:right;
  background-color:#fafafa;
  height:calc(100vh - 100px - 90px);
  width: calc(100vw - 300px);
  display: flex;
  justify-content: flex-start;
  &__name{
    padding-top:35px;
    font-size:16px;
    color:#333333;
    padding-left:40px;
    text-align:left;
  }
  &__name_date{
    font-size:12px;
    color:#999999;
    padding-top:35px;
  }
}
.chat-main__message-form{
  background-color:#d2d2d2;
  width:calc(100vw - 300px);
  height:90px;
  float:right;
  display: flex;
  align-items: center;
  &__imput-form{
    height:50px;
    margin-right:15px;
    margin-left:40px;
    background-color:white;
    width:100%;
    display:flex;
    position:relative;
    &__message{
      width:100%;
      #text-content{
        padding:0 40px 0 10px;
      }
    }
    &__photo{
      width:20px;
      height:50px;
      position: absolute;
      right:10px;
      top:10px;
      font-size:1.3rem;
    }
  }
  &__send{
    float:right;
    &__btn{
    height:50px;
    margin-right:40px;
    width:100px;
    background-color: #38aef0;
    color:white;
    text-align: center;
    line-height: 50px;
    }
  }
}

.none{
  display:none;
}

.send-line{
  text-decoration:none;
}

.text-form{
  width:100%;
  height:100%;
}
